


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
}



span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5a5a5ac7;
    width: 100%;
    margin-bottom: 5%;
    border-radius: 0px 0px 30px 30px ;
    font-size: 2vw;
    padding: 0;
   
  
    
}

a {
    font-size: 1.4vw;
    font-family: 'arial' ;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex ;
    width: auto;
    align-items: center;
    margin: 3%;
    transition: 0.3s ease;
}



.perfil {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border: 2px rgb(255, 255, 255) solid;
}
.title {
    color: white;
    font-family: 'arial';
    width: 100%;
    
    background-color: #5a5a5a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    padding: 10px;
    width: 60px;
    height: 60px;

}

a:hover {
    color: rgb(39, 192, 60);
}

@media (max-width: 768px) {
    a {
    font-size: 3vw;
    font-family: 'arial' ;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex ;
    width: auto;
    align-items: center;
    margin: 3%;
    transition: 0.3s ease;
}

}